<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
  TODO: In Xcode, open Signing & Capabilities and add:
    1. Sign in with Apple
    2. HealthKit (read sleep analysis + exercise time)
  Then replace the stubs in AppleAuthService and HealthKitService.
-->
<plist version="1.0">
<dict>
</dict>
</plist>
